/* body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  .container-404 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .container-404.h1 {
    font-size: 6rem;
    margin: 0;
    color: #24292e;
  }
.container-404.p {
    font-size: 1.5rem;
    color: #586069;
  }
  .container-404.a {
    color: #0366d6;
    text-decoration: none;
  }