.card {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #DCDFE8;
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.card .card-header {
    background: transparent;
    border-radius: 0;
    padding: 20px 20px;
    margin-bottom: 0;
    -ms-flex-align: center !important;
    align-items: center !important;
    border: 0;
    border-bottom: 1px solid #DCDFE8;
}

.card .card-header .header-title .card-title {
    margin-bottom: 0;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 20px;
}

.btn.disabled {
    cursor: not-allowed;
    pointer-events: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #32BDEA;
    border-color: #32BDEA;
}
.btn.disabled, .btn:disabled {
    opacity: .65;
    box-shadow: none;
}
.btn-danger {
    color: #fff;
    background-color: #E08DB4;
    border-color: #E08DB4;
    box-shadow: unset;
}

/*@media (min-width: 768px)*/
/*.col-md-6 {*/
/*    flex: 0 0 50%;*/
/*    max-width: 50%;*/
/*}*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    /*width: 100%;*/
    padding-right: 15px;
    padding-left: 15px;
}

form.card-body-form {
    display: flex;
    flex-wrap: wrap;
}

col-md-6.form.card-body-form{
    width: 50%;
}

.btn.disabled {
    cursor: not-allowed;
    pointer-events: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #32BDEA;
    border-color: #32BDEA;
}
.btn.disabled, .btn:disabled {
    opacity: .65;
    box-shadow: none;
}

.btn-save-user{
    margin-top: 15px;
}

.small-title{
    margin-bottom: -2px;
    padding-left: 0px;
    color: #6c6d6f;
    font-weight: bold;
    opacity: 50%;
}

.second-row{
    margin-top: 15px;
}

.edit-user-modal .modal-dialog{
    max-width: 50%;
}

.password-toggle {
    position: relative;
}

.password-toggle input[type="password"] {
    padding-right: 40px; /* Add space for the toggle button */
}

.password-toggle .toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.user-form-title{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.control-btns {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    /* width: 242vh; */
}

.control-btns Button {
    margin-left: 5px;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px)
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.d-flex {
    display: flex !important;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.add-list {
    padding: 0.5rem 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #32BDEA;
    border-color: #32BDEA;
    box-shadow: unset;
}

.btn {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn svg{
    margin-right: 5px;
}

.user-table-controls-buttons{
    display: flex;
    align-content: center;
    justify-content: center;
}

.user-table-controls-btn{
    margin-left: 7px;
    border-radius: 7px;
    min-height: 30px;
    min-width: 30px;
    color: white;
    padding: 5px;
    cursor: pointer;
    opacity: 80%;
}

.user-table-controls-btn:hover{
    opacity: 100%;
}

.alert-panel{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    max-width: 400px;
}
