.first-part {
  padding-top: 33px;
  position: absolute;
  left: 0px;
  top: 57px;
  width: 15%;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  background-color: #ffffff; /* Sidebar background color */
  min-height: 100vh; /* Set min-height to cover the entire viewport */
}

.second-part {
  width: 70%;
  position: absolute;
  left: 20%;
  top: 20%;
}
